* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
.navList li {
  float: left;
}

.navList li a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.navList li a:hover {
  background-color: grey;
}
.alcoList {
  background-image: url("../images/tloListy.jpg");
  background-size: cover;
  padding-top: 100px;
}
.alcoList ul li {
  float: left;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 5px;
  list-style-type: none;
  border-radius: 15%;
  padding: 5px;
}
.alcoList ul li:hover {
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
.alcoList ul::after {
  content: "";
  clear: both;
  display: block;
}
.width {
  width: 100%;
  height: auto;
}
.floatLeft {
  float: left;
}
.imageMargin {
  margin: 10px;
}
.spanCoctailList {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  opacity: 0;
}
.spanCoctailList:hover {
  opacity: 1;
  cursor: pointer;
}
.classPadding {
  padding-top: 100px;
}
.classFinaleDrink {
  display: inline-block;
  width: 48%;
  height: 300px;
}
